{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Pop Endpoint{% endblock %}</h1>
  
{% endblock %}

{% block content %}

<p></p>


<form method="post">
	<label for="msg_pop">Ingresa el ID de la tarea a eliminar</label>
	<input name="msg_pop" id="msg_pop" required>
	<input type="submit" value="Eliminar">
</form>
<p> {{ deleted }} {{ message_pop }}
<br>
<hr>
<p></p>
<p>
<b>Lista de mensajes (IDs) en la cola:</b>
</p>
{% for para in queued_job_ids %}
	{{para}}<br>
{% endfor %}
<p></p>
<form action="/api/queue/pop">
<input type="submit" value="Actualizar lista">
</form>
<p></p>
<form action="/api/queue/delete">
<input type="submit" value="Borrar todo">
</form>
{% endblock %}
